@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h2 class="display-4">Reporting web app 🌐</h2>
    <p> HH.ru: <a href="https://hh.ru/resume/b552a94dff0af53cbc0039ed1f37584f705862">https://hh.ru/resume/b552a94dff0af53cbc0039ed1f37584f705862</a></p>
    <p> LinkedIn: <a href="https://www.linkedin.com/in/maksim-marchuk-443894282">https://www.linkedin.com/in/maksim-marchuk-443894282</a></p>
</div>

<div>
    <ul class="list-group text-center shadow">
        <li class="p-2 list-group-item list-group-item-action">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Category">Category</a>
        </li>
        <li class=" p-2 list-group-item list-group-item-action">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Expense">Expense</a>
        </li>

    </ul>
</div>
